body {
    background-color: #BBB;
}
#ninjas-container {
    overflow: auto;
}

.ninja {
    margin: 10px;
    padding: 20px;
    width: 310px;
    height: 150px;
    float: left;
    background: white;
    border: 1px solid #DDD;
    position: relative;
    border-radius: 6px;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    opacity: 0;
}

.ninja.load {
    opacity: 1;
}

.ninja > .name {
    width: 190px;
    font-size: 25px;
    position: relative;
    top: 20px;
    font-family: "Helvetica";
}

.ninja > .location {
    width: 190px;
    font-size: 20px;
    position: relative;
    position:absolute;
    bottom:30px;
}

.ninja img {
    height: 150px;
    float: right;
}